/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Fonts */

@font-face {
    font-family: 'audiowideregular';
    src: url('../fonts/audiowide-regular-webfont.woff2') format('woff2'),
         url('../fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Base styles */


html {
	color:#19334d;
	font-family: 'Nunito Sans', sans-serif;
	font-size:1em;
	margin: auto;
	max-width:1400px;
	width:100%;
}

img {
	width:100%;
	height:auto;
}

/* unvisited link */
a:link {
    color: #19334d;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: #19334d;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #b5daff;
}



/* Header & Navigation */

.full-width-top {
	float:left;
	background-image: url('../img/header6.jpeg') ;
	background-size: cover; 
	height:400px;
	width:100%;
	
}

.logotop {
	clear:both;
	float:left;
	/*max-width: 20%;*/
    height: auto;
    margin: 30px 5px 0px 0px;
    width:20%;
}

.full-width-top h1 {
	color:#19334d;
	text-transform:uppercase;
}

.logo {
	font-family: 'audiowideregular';
	/* font-size:40px; */
	margin:0;
	padding-top:20px;
}
	

.blue {
	color:#2372B6;
	font-family: 'audiowideregular';
}

.about {
	/* margin:0 auto; */
	padding:10px;
	width:100%;
}

.half-width1 {
	float:left;
	height:150px;
	margin:0px 0 0 0;
	padding:0 0 0 20px;
	width:46%;
}

.half-width2 {
	float:left;
	height:150px;
	margin:0;
	padding: 0;
	width:50%;
}

nav ul li {
	color:#19334d;
	display:inline;
	float:right;
	margin:0;
	padding:20px 0 0 20px;
	width
}

.about {
	float:left;
	width:100%;
}

#packages {
	display:table;
	float:none;
}

#packages .third{
	background:#d9e6f2;
	border-left:solid #FFFFFF;
	display:table-cell;
	float:none;
	height:100%;
	margin:3px;
	padding:15px;
	width:30%;
	
}

/* Contact */

.full-width-bottom {
	/** padding:50px 0 50px 0; */
	float:left;
	padding-bottom:80px;
}

.half-width3 {
	float:left;
	padding:20px 0 0 20px;
	width:45%;
}

.half-width4 {
	float:left;
	padding:0 0 0 20px;
	width:45%;
}

/* #contact-img {
	border: 12px solid #d8d8d0;
	float:left;
	margin: auto;
	width:80%;
} */

.contact {
	border:8px solid #c7d9ea;
	/* max-width:40%;
	width:60%; */
}

#mc_embed_signup {
	padding-bottom:30px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*---------- Mobile ----------*/

@media (max-width: 1088px) {
	
	body {
		
	}
	
	.full-width-top {
		background:none;
		height:auto;
		margin:0 auto;
		width:100%;
	}
	
	.half-width1 {
		margin:0 auto;
		height:auto;
		width:70%;
}
	
	/* Plane & Text logo */
	.logotop {
		float:left;
		margin: auto;
    	width: 30%;
		padding: 10px;
	}
	
	.logo {
		font-family: 'audiowideregular';
		margin:0 auto;
		float:left;
		padding:0;
	}
	

	.blue {
		color:#2372B6;
		font-family: 'audiowideregular';
		margin:0 auto;
	}

	
	/* Menu */
	.half-width2 {
		display:none;
	}
	
	/* About */
	.about {
		padding:10px 0 10px 10px;
	}
	
	
	
	/* Packages */
	#packages .third{
		background:#d9e6f2;
		float:left;
		height:auto;
		margin:3px;
		padding:30px;
		width:100%;

}

	/* Footer */
	
	.contact {
		display:none;
	}
	
	.full-width-bottom {
		padding:0;
		float:left;
		margin:auto;
		width:100%
}

	.half-width3 {
}

	.half-width4 {
		float:left;
		padding:20px;
		margin:auto;
		width:100%;
}

}

/* Smaller devices */

@media (max-width: 715px) {
	
	body {
		
	}
	
	.full-width-top {
		background:none;
		height:auto;
		margin:0 auto;
		width:100%;
	}
	
	.half-width1 {
		margin:0 auto;
		height:auto;
		width:100%;
}
	
	/* Plane & Text logo */
	.logotop {
		float:left;
		margin: auto;
    	width: 20%;
		padding: 10px;
		display:none;
	}
	
	.logo {
		font-family: 'audiowideregular';
		margin:0 auto;
		float:left;
		padding:0;
	}
	

	.blue {
		color:#2372B6;
		font-family: 'audiowideregular';
		margin:0 auto;
	}

	
	/* Menu */
	.half-width2 {
		display:none;
	}
	
	/* About */
	.about {
		padding:10px 0 10px 10px;
	}
	
	
	
	/* Packages */
	#packages .third{
		background:#d9e6f2;
		float:left;
		height:auto;
		margin:3px;
		padding:30px;
		width:100%;

}

	/* Footer */
	
	.contact {
		display:none;
	}
	
	.full-width-bottom {
		padding:0;
		float:left;
		margin:auto;
		width:100%
}

	.half-width3 {
}

	.half-width4 {
		float:left;
		padding:20px;
		margin:auto;
		width:100%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
